PORT=5000

DB_HOST=#your database host
DB_PORT=#your database port
DB_USER=#your database user
DB_PASS=#your database password
DB_NAME=#your database name

JWT_SECRET=#your secret key
JWT_EXPIRES_IN=#token expiration time in seconds


JWT_REFRESH_SECRET=#your refresh secret key
JWT_REFRESH_EXPIRES=#refresh token expiration time in seconds